*.pyc

keys/*.txt
keys/backup/*
data/*
tradeshistory.txt
pyinstaller.bat
bin/*.xml
bin/*.ini
bin/*.txt
*.log
bin/test/*
_build/*
_static/*
_templates/*
html/*
conf.py
index.rst
make.bat
Makefile
bin/mtgox_client.spec
